# fly.toml app configuration file generated for geo-ip-server on 2023-10-28T19:07:32+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "geo-ip-server"
primary_region = "ams"
kill_signal = "SIGTERM"
swap_size_mb = 512

[build]

[deploy]
release_command = "sh /app/deploy-app.sh"

[env]
PHX_HOST = "geo-ip-server.fly.dev"
PORT = "4000"

[processes]
app = "/app/bin/server"
cron = "sh /app/start-cron.sh"

[[metrics]]
port = 4000
path = "/metrics"
processes = ["app"]

[[metrics]]
port = 9091
path = "/metrics"
processes = ["cron"]
